

.table1 {
    border-collapse: collapse;
    border: 2px solid #999;
    
}

.table1 td {
    border: 1px solid #999;
    /* background: rgb(190, 190, 194); */
    width: 25px;
    height: 25px;
    
    
}
.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

  .red{
    background: #e672bf !important;
  }
    
  .red:hover {
    background: #b45a96 !important;
  }
  .cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #201e1e;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.ef input[type='text']:focus {
	border: 1px solid #19cae9;
	outline: none;
  box-shadow: 0 0 5px 1px #1962e9;
  
}
.back {
  filter:brightness(70%);
  cursor:pointer;
}
.flash {
  filter:brightness(120%);
  box-shadow:1px 1px 5px 2px  #dddada ;
}